#banner
{
	height: 50px;
	border-bottom: 2px #F2D6A5 solid;
	
}

.header_text
{
	font-size: 32px;
	font-weight: bold;
	color: #9C7594;
}

#menu_container
{
	margin: 10px auto;
	padding: 0px;
	text-align: center;
	width: 900px;
	
}

#menu_bar
{
   width: 20%;
   height: auto;
   text-align: left;
   margin: 10px auto;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   background:rgba(224,160,11,0.2);
   color: #545657;
   font-size: 18px;
   float: left;
   padding: 5px;
}

ul
{
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
	line-height: 30px;
	color: #0A4A4F;
}

ul li
{
	padding-left: 24px; 
	line-height: 30px;
}

ul li a
{
	text-decoration: none;
	color: #7D606C;
}

ul li a:hover
{
	text-decoration: underline;
	color: #7D606C;
}

#menuText
{
	padding-left: 20px;
	line-height: 30px;
}

#menuText a
{
	text-decoration: none;
	color: #7D606C;
}

#menuText a:hover
{
	text-decoration: underline;
	color: #7D606C;
}

#content
{
   width: 76%;
   min-height: 200px; 
   height: auto;
   text-align: left;
   margin: 10px auto;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   background:rgba(56,000,00,0.2);
   color: #545657;
   font-size: 18px;
   float: right;
   background-color:#F7F7F7;
   padding: 5px;
}

.content_text
{
	padding-left: 10px;
}

.content_header
{
   color: #545657;
   font-size: 22px;
   padding-left: 10px;
}

#footer
{
	clear: both;
	padding: 5px;
	border-top: 2px #F2D6A5 solid;
}