#page_table
{
	padding: 15px;
}

#page_table th
{
   font-size: 16px;
   font-weight: bold;
}

#page_table td
{
	border-bottom: 1px #000 dashed;
}


.newAction  
{
	font-size: 16px;
	text-decoration: none;
	color: #9C7594;
}

.newAction a:hover
{
	text-decoration: underline;
}

.noRecsFound 
{
	color: #F238C7;
}

#content_table
{
	padding: 10px;
	font-size: 16px;
}

.form_text
{
	line-height: 30px;
	height: 30px;
	width: 400px;
	border: 1px #E2E2CD solid;
	padding-left:3px;
}

.date_text
{
	line-height: 30px;
	height: 30px;
	width: 90px;
	border: 1px #E2E2CD solid;
	padding-left:3px;
}

.time_text
{
	line-height: 30px;
	height: 30px;
	width: 70px;
	border: 1px #E2E2CD solid;
	padding-left:3px;
}

.video_text
{
	line-height: 30px;
	height: 30px;
	width: 250px;
	border: 1px #E2E2CD solid;
	padding-left:3px;
}

.form_textarea
{
	height: 125px;
	width: 400px;
	border: 1px #E2E2CD solid;
	padding-left:2px;
}

.notifySuccess
{
	margin-top: 0px auto;
	text-align: center;
	font-style: italic;
	font-size: 14px;
	color: #000;
	line-height: 25px;
	background-color: #CEF0F5;
}

.notifyError
{
	margin-top: 0px auto;
	text-align: center;
	font-style: italic;
	font-size: 14px;
	color: red;
	line-height: 25px;
	background-color: #CEF0F5;
}

.imgBorder
{
	border: 1px solid #000000;
}