body 
{
	padding: 0;
	margin: 0 auto;
	background-color: #E2E2CD;
	text-align: center;
	font-family: Calibri, Arial, sans-serif;
}

body p.header_text
{
	font-size: 32px;
	font-weight: bold;
	color: #9C7594;
}

#small_login
{
   width: 400px;
   height: auto;
   text-align: left;
   margin: 10px auto;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   background:rgba(224,160,11,0.2);
   color: #545657;
   font-size: 18px;
}

#container
{
	padding: 50px 50px;
}

.input_text
{
	line-height: 30px;
	height: 30px;
	width: 300px;
	border: 2px #E2E2CD solid;
	padding-left:2px;
}

.log_button
{
	height: 30px;
	width: 65px;
	border-color: #E2E2CD;
}

.missingError
{
	font-size: 12px;
	color: red;
}